
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border:none;
    outline:none;
    font-family: Poppins, sans-serif;
    color:#fff;
}

body{
    min-height: 100wh;
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.postimg.cc/XvXx5DrW/cancha-Futbol.jpg");
    background-size: cover;
    background-position: center;;
}

.content{
    width: 400px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 35px;
}

.content h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.content .input-box{
    position: relative;
    width: 100%;
    height: 55px;
    margin: 30px 0;
}

.content .input-box input{
    background: transparent;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(225, 225, 225, 0.2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    font-size: 10px;
    margin-top: 15px;
}

#togglePassword{
    position: absolute;
    top: 80%;
    right: 18px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.remember a{
    color: #fff;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}
.btnn{
    display: inline-block;
    background: #fff;
    color: #0a2862;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    height: 45px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 16px;
}

input::placeholder{
    color: #fff;
    font-size: 16px;
}

.input-box i{
    position:absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;

}

.content .remember {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -16px 0 16px;
}

.remember label input{
    accent-color: #fff;
    margin-right: 4px;
}

.button {
    /* Utiliza Flexbox para una alineación fácil */
    display: flex;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Opcional: añade algo de margen superior para separarlo del botón de Login */
    margin-top: 15px; 
}

/* Opcional: Mejora la apariencia de los enlaces */
.button a {
    /* Remueve el guion si los pones separados y añades un margen entre ellos */
    margin: 0 10px; 
    /* Asegura que los enlaces se muestren como elementos en línea o en línea-bloque */
    display: inline-block; 
    /* Otros estilos como color, decoración de texto, etc. */
}
/* 
loading
*/
#loading-overlay {
    /* CLAVE: Oculto por defecto */
    display: none; 
    
    /* Cubre toda la pantalla */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Fondo semi-transparente o sólido para bloquear la interacción */
    background-color: rgba(0, 0, 0, 0.8);
    
    /* Asegura que esté por encima de todo el contenido */
    z-index: 9999; 
    
    /* Flexbox para centrar el contenido del loader */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-overlay{
    display:block
}
.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #262626;
}

.loader-circle-9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-family: sans-serif;
  font-size: 12px;
  color: #00eaff;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loader-circle-9:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #00eaff;
  border-right: 3px solid #00eaff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loader-circle-9 span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loader-circle-9 span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00eaff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #00eaff;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
